.expense-date {
  font-weight: 800;
  padding: 0.5rem;
  color: white;
  width: 15%;
  background-color: rgb(240, 190, 98);
  border-radius: 12px;
  overflow: hidden;
}

.expense-date_month {
  font-size: 1rem;
}
.expense-date_year {
  font-size: 0.8rem;
}
.expense-date_day {
  font-size: 1.5rem;
}
